/*-------------------------------------------------------------------------------------------------------------------------------------------------

Project Name: MathonGo
Project URI: https://www.mathongo.com
Author: MathonGo
Author: https://www.mathongo.com
File Name: common.css
Version: 1.0    
Description: common styles shared asross the website
Last Modified: 12.10.2017

------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------

Table of Contents
    1. General
    2. Header
    3. MaterialDesign Overrides

------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------

1. General
    
------------------------------------------------------------------------------------------------------------------------------------------*/
html { 
    font-size: 62.5%;
} 
body, html {
    width: 100%;
    font-style: roboto;
}
.container-fluid {
    padding: 0;
    margin: 0;
}